<template>
  <div id="app">
    <div class="page-wrapper">
      <h1 class="heading large">Kontaktforma</h1>
      <div class="errors" v-if="errors.length">
        <div v-for="error in errors" v-bind:key="error">
          <div> &raquo; {{ error }}</div>
        </div>
      </div>

      <form action="index.html" method="post" @submit="submitForm">
        <div class="row">
          <label for="fullName" class="required">Vārds, Uzvārds:</label>
          <input type="text" name="fullName" id="fullName" v-model="name"/>
        </div>

        <div class="row">
          <label for="telephone" class="required">Telefons numurs:</label>
          <input type="text" name="telephone" id="telephone" v-model="telephone">
        </div>

        <div class="row">
          <label for="address">Adrese:</label>
          <input type="text" name="address" id="address" v-model="address"/>
        </div>

        <div class="row">
          <label for="message" class="required">Ziņojums:</label>
          <textarea name="message" id="message" v-model="message"></textarea>
        </div>

        <div class="row">
          <button type="submit" class="btn center">Sūtīt &rarr;</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",

  data() {
    return {
      errors: [],
      name: "",
      telephone: "",
      address: "",
      message: ""
    };
  },

  methods: {
    submitForm(e) {
      this.errors = [];

      if (!this.name) {
        this.errors.push("Lauks 'Vārs, Uzvārds' ir jānorāda obligāti");
      }

      if (!this.telephone) {
        this.errors.push("Lauks 'Telefona numurs' ir jānorāda obligāti");
      }

      if (!this.message) {
        this.errors.push("Lauks 'Ziņojums' ir jānorāda obligāti");
      }

      if (this.errors.length > 0) {
        return e.preventDefault();
      }

      return true;
    }
  }
};
</script>

<style lang="scss">
@font-face {
  font-family: LucidaSansRegular;
  src: url(./fonts/LucidaSansRegular.ttf);
}

body {
  font-family: LucidaSansRegular;
  font-size: 14px;
}

h1 {
  border-bottom: 1px solid silver;
}

.page-wrapper {
  width: 500px;
  margin: 40px auto;
  padding: 5px;
  border: 1px solid silver;
}

.heading {
  text-align: center;
}

.errors {
  color: #eb8282;
  border: 1px solid #777;
  padding: 3px;
}

.row {
  margin: 15px 0;

  label {
    display: inline-block;
    float: left;
    width: 150px;
  }

  input[type="text"] {
    width: 200px;
    padding: 3px;
    border: 1px solid #777;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

label.required:after {
  content: " *";
  color: #f35151;
}

textarea {
  width: 200px;
  padding: 3px;
  border: 1px solid #777;
  resize: vertical;
}

.large {
  font-size: 24px;
}

.btn {
  color: #333;
  padding: 4px 8px;
  background: #7eb87e;
  border: 1px solid #4d814d;
}

.center {
  margin: 0 auto;
  display: block;
}
</style>
